<h2 *ngIf="deletedPdts">Deleted Products {{ deletedPdts.length }}</h2>
<div class="deleted_pdt" *ngFor="let product of deletedPdts">
  <button  class="bg-blue-500 hover:bg-blue-400 float-right text-white px-4 py-2 rounded-md" (click)="restore(product)">restore</button>
  <h3>
    <a class="text-lg font-bold mb-0 pb-0" [title]="product.name + product.description">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <app-product-alerts [product]="product" [productName]="product.name">
  </app-product-alerts>
</div>
