<nav class="w-full bg-blue-300 px-3 py-2">
   <ul class="list-none flex items-center gap-4">
      <li class="text-lg hover:underline cursor-pointer">
         <a href="/">
            Home
         </a>
      </li>
      <li class="text-lg hover:underline cursor-pointer">
         <a href="/products">
            Products
         </a>
      </li>
      <li class="text-lg hover:underline cursor-pointer">
         <a href="/teams">
            Team
         </a>
      </li>
      <li class="text-lg hover:underline cursor-pointer">
         <a href="/contact">
            Contact
         </a>
      </li>
      <li class="ms-auto">
         <a title="logo" href="/">
            <img src="../../assets/logo.png" width="64px" height="64px" alt="logo" />
         </a>
      </li>
   </ul>
</nav>